---
const links = [
	{
		title: "LinkedIn",
		url: "https://www.linkedin.com/in/elder-sarmiento/",
	},
	{
		title: "GitHub",
		url: "https://github.com/esarmiem",
	},
	{
		title: "Instagram",
		url: "https://www.instagram.com/eldersarmiento/",
	},
	{
		title: "Threads",
		url: "https://www.threads.net/@eldersarmiento",
	},
];
---

<article class="flex flex-col gap-4 w-2/6 md:pt-16">
	<p class="text-xl text-gray-600 dark:text-gray-400 font-bold">Enlaces</p>

	<ul
		class="flex flex-col gap-2 text-lg text-customBlack dark:text-customWhite font-bold"
	>
		{
			links.map(({ title, url }) => (
				<li class="hover:text-blue-600 transition-all duration-200 w-max">
					<a rel="noreferrer" target="_blank" href={url}>
						{title}
					</a>
				</li>
			))
		}
	</ul>
</article>
